* {
    box-sizing: border-box;
}

#my_email,
a {
    color: rgb(5, 60, 148);
}

#about_body {
    /* background-image: url("../images/poppies.jpg"); */
    width: 100%;
    height: 100%;
    background-image: url("../images/poppies_mobile.jpg");
    background-repeat: no-repeat;
    background-size: 180% auto  ;
    background-color: #ebd6b5;
    position: relative;
 }

#main_content_about {
    width: 960px;
    height: 640px;
    padding: 40px;
    font-family: 'Inconsolata', monospace;
    background-color:#ffffff;
    position: relative;
    margin:100px auto;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#portrait {
    width:273.5px; 
    height:228px;
    margin: 10px 20px 5px 10px;
    float:left;
}

#about_me {
    line-height: 1.3;
    font-size: 26px;
    margin-right: 10px;
}

 #portfolio_body {
    background-image: url("../images/grass.jpg");
    background-repeat: no-repeat;
    background-size: auto;   
    background-color: #219e2c;
    position: relative;
}

#main_content_portfolio {
    width: 910px;
    height: 650px;
    padding: 40px;
    margin: 100px auto;
    border-style: solid;
    border-width: 1px;
    font-family: 'Inconsolata', monospace;
    background-color: white;
    border-color: #cccccc;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main {
    height:100%;
}

.navigation {
    width: 700px;
    height: 60px;
    padding: 20px 0 20px 0;
    font-size: 16px;
    text-align: center;
    float:right;
}

.about{
    border-right-style: solid;
    border-right-color: #cccccc;
}

.container {
    position: relative;
    float: right; 
}

.copyright {
    box-sizing: border-box;
    margin-top: 2px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    background-color: #666666;
}

.placeholder {
    margin: 0px 0px 30px 0px;
    text-align: center;
}

.clearfloat {
    clear: both;
    overflow: auto;
}

.project_container {
    margin:20px;
    float:left;
    position: relative;
    width: 230px;
    height: 230px;
}

.portfolio_img {
    width: 230px;
    height: 230px;
}

.banner_name {
    position: absolute;
    bottom: 90px;
    left: 0px; 
}

.banner_app {
    position: absolute;
    bottom: 65px;
    left: 0px; 
}

.banner_code {
    position: absolute;
    bottom: 40px;
    left:0px;
}

body {
    max-width: 100%;
    max-height: 100%;
}

header {
    width: 100%;
    height: 60px; 
    font-family: 'Domine', serif;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(5, 60, 148);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

h1 {
    padding: 0 10px 0 10px;
    width: 200px;
    height: 60px;
    font-size: 22px;
    line-height: 2.5;
    letter-spacing: 2px;
    background-color: rgb(5, 60, 148);
    border-radius: 0px 0px 5px 5px;
    color: white;
    text-align: center;
    float: left; 
}

a:link {
    text-decoration: none;
    color:  #777777;
    margin: 10px;
    border-right-color: black;
    text-align: center;
}

a:hover {
    color: #555555;
    font-weight: bold;
}

a:active {
    color: rgba(100, 132, 236, 0.842);
}

footer {
    width: 100%;
    height: 42px;
    background-color: rgb(5, 60, 148);
    position: fixed;
    bottom:0;
    left:0;
    z-index: 1
 }

h2 {
    font-size: 28px;
    color: rgb(5, 60, 148);
}

span {   
    width: 230px;
    height: 25px;
    font-size: 16px;
    padding: 4.5px;
    z-index: 1;
    background-color:  rgb(5, 60, 148);
    color: white;
    text-align: center;
    opacity: 0.9;
}


@media screen and (max-width:980px) {
    #about_body, 
    #portfolio_body {
        max-width: 980px;
        height: auto;
    }

    #about_body {
        background-size: auto;
    }

    #about_me {
        line-height: 1.3;
        font-size: 22px;
        margin:0 10px 10px 5px; 
    }

    #main_content_about {
        width:700px;
        height: 670px;
        margin: 100px auto 20px auto;
    }

    #main_content_portfolio {
        width:700px;
        height: 530px;
        margin: 100px auto 20px auto;
    }

    .navigation {
        width: 72%;
    } 

    .project_container {
        width: 180px;
        height: 180px;
        margin: 10px 10px 20px 8px;
    }
    
    .portfolio_img {
        width: 180px;
        height: 180px;
    }

    .banner_name{
        width: 180px;
        bottom: 70px;
        left: 0px; 
    }

    .banner_app {
        width: 180px;
        bottom: 45px;
        left: 0px;
    }

    .banner_code {
        width: 180px;
        bottom: 20px;
        left: 0px;
    }

    header {
        width:100%;
    }

    h1 {
        width:200px;
    }

    a:link {
        margin:5px;
    }

    hr {
        width:650px;
    }

    span {
        width:240px;
        height: 25px;
    }
}

@media screen and (max-width:768px) {
    #about_body, 
    #portfolio_body {
        max-width: 768px;
        height: auto;
    }

    #main_content_about {
        width:600px;
        height: 650px;
        margin: 60px auto 0 auto;
        padding: 30px;
    }

    #about_me {
        font-size: 20px; 
        line-height: 1.2;   
    }

    #main_content_portfolio {
        width: 600px;
        height: 500px;
        margin: 60px auto 0 auto;
        padding: 30px;
    }

    .navigation {
        width: 100%;
        height: 30px;
        padding: 5px;
    }

    .project_container {
        width: 150px;
        height: 150px;
        margin: 20px 15px 10px 7px;
    }

    .portfolio_img {
        width: 150px;
        height: 150px;
    }
    
    .banner_name,
    .banner_app,
    .banner_code {
        width: 150px;
    }

    header {
        width:100%;
        height:65px;
    }

    h1 {
        width:100%;
        line-height: 1;
        height: 35px;
        padding: 5px;
    }

    hr {
        width:530px;
    }
} 
    

@media screen and (max-width:640px) {
    #about_body, 
    #portfolio_body {
        /* max-width: 640px; */
        height: auto;
    }

    #about_body {
        background-image: url("../images/poppies_mobile.jpg");
        background-size: auto;
    }
    #main_content_about {
        width:450px;
        height:970px;
        padding: 20px 20px 20px 20px;
    }

    #portrait {
        margin:0 0 10px 0;
        width:364.66px;
        height: 304px;
    }

    #about_me {
        margin: 0 auto 10px auto;
        width:351px;
    }

    #main_content_portfolio {
        width:450px;
        height: 2400px;
    }

    .header_content {
        width: 100%;
    }

    .navigation {
        font-size: 14px;
    }

    .main {
        width:550px;
        height:1000px;
        margin: 0 auto 0 auto;
    }

    .project_container {
        width: 350px;
        height: 350px;
        margin: 15px 20px 15px 20px;
    }

    .portfolio_img {
        width: 350px;
        height: 350px;
    }
    
    .banner_name,
    .banner_app,
    .banner_code {
        width: 350px;
    }

    header {
        width:100%;
    }

    h1 {
        font-size: 20px;
        height: 30px;
    }

    h2 {
        font-size: 26px;
    }
    
    hr {
        width:400px;
    }

    span {
        width:350px;
        height: 25px;
    }
}