* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    max-height: 100%;
}

.main {
    height:100%;
}

header {
    width: 100%;
    height: 60px; 
    font-family: 'Domine', serif;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgb(5, 60, 148);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

h1 {
    padding: 0 10px 0 10px;
    width: 200px;
    height: 60px;
    font-size: 22px;
    line-height: 2.5;
    letter-spacing: 2px;
    background-color: rgb(5, 60, 148);
    border-radius: 0px 0px 5px 5px;
    color: white;
    text-align: center;
    float: left; 
}

.navigation {
    width: 700px;
    height: 60px;
    padding: 20px 0 20px 0;
    font-size: 16px;
    text-align: center;
    float:right;
}

#my_email,
a {
    color: rgb(5, 60, 148);
}

a:link {
    text-decoration: none;
    color:  #777777;
    margin: 10px;
    border-right-color: black;
    text-align: center;
}

a:hover {
    color: #555555;
    font-weight: bold;
}

a:active {
    color: rgba(100, 132, 236, 0.842);
}

.about{
    border-right-style: solid;
    border-right-color: #cccccc;
}

.container {
    position: relative;
    float: right; 
}

.container_quote {
    position: relative;
    box-sizing: border-box;
    width: 800px;
    height: 100%;
    padding: 20px;
}

#landing_img {
    width: 1536px;
    height: 1180px;
}

#logo {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
    height: 120px;
    transform: rotate(10deg);
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    text-shadow: 2px 2px 4px #e4c951;
    font-weight: bolder;
    letter-spacing: 3px;
    color: rgb(5, 60, 148);
    background: radial-gradient( circle at 50px 0px, #f8f0a3, #d3b064,  #695e4f);
    border: 1px #644c16;
    border-style: dotted none dotted none;
    text-align: center;
    border-radius: 70px;
    position: absolute;
    top: 290px;
    left: 470px;
    outline: none;
    cursor: pointer;
}

blockquote {
    position: absolute;
    top: 200px;
    right: 80px;
    font-size: 40px;
    font-family: 'Inconsolata', monospace;
    line-height: 1.2;
    text-shadow: 2px 2px 4px lightgrey;
    text-align: center;
    position: absolute;
    padding-left: 1em;
    font-weight: 100;
    color: rgb(82, 80, 80);
}

cite {
    position: absolute;
    top: 380px;
    left: 500px;
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    color: darkgrey;
}

#description {
    width: 600px;
    font-family: 'Domine', serif;
    position: absolute;
    top: 700px;
    left: 500px;
    font-size: 30px;
    color: rgba(5, 60, 148, 0.678);
    background-color:white;
    text-shadow: 2px 2px 4px #e4c951;
}

footer {
    width: 100%;
    height: 42px;
    background-color: rgb(5, 60, 148);
    position: fixed;
    bottom:0;
    left:0;
    z-index: 1
 }
    
.copyright {
    box-sizing: border-box;
    margin-top: 2px;
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    background-color: #666666;
}

 #about_body {
    background-image: url("../images/poppies_smaller.jpg");
    background-size: auto auto;
    background-repeat: no-repeat;
    background-color: #ebd6b5;
    position: relative;
 }

#main_content_about {
    width: 960px;
    height: 560px;
    padding: 40px;
    font-family: 'Inconsolata', monospace;
    background-color:#ffffff;
    position: relative;
    margin:200px auto;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#portrait {
    width:334.29px; 
    height:327.14px;
    margin: 10px 20px 5px 10px;
    float:left;
}

#about_me {
    line-height: 1.3;
    font-size: 26px;
    margin-right: 10px;
}

#contact_body{
    background-color: #63c2ff;
    background-image: url("../images/mountains_small.jpg");
    background-size: auto auto;
    background-repeat: no-repeat;
    position: relative;
}

#main_content_contact {
    width: 960px;
    height: 560px;
    padding: 40px;
    font-family: 'Inconsolata', monospace;
    background-color:#ffffff;
    margin:200px auto 0 auto;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url("../images/postcard.jpg");
    background-size: auto auto;
}

h3 {
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    font-weight: lighter;
    margin: 10px 0px 5px 0px;
}

#input {
    padding-top: 10px;
}

#email,
#name {
    width:860px;
    line-height: 1.6;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
}

#message {
    width: 860px;
    height: 150px;
    line-height: 1.6px;
    padding: 10px 5px 5px 5px;
    border-radius: 3px;
    padding: 5px;
}

.submit{
    width: 90px;
    height: 30px;
    color: white;
    background-color: rgb(5, 60, 148);
    margin: 10px 0 20px 0; 
    border-radius: 5px; 
 }  
 
 button:hover {
     font-weight: bold;
     background-color: #555555;;
 }

 button:active {
     background-color: #cccccc;
     color: rgba(100, 132, 236, 0.842);
 }

 #portfolio_body {
    background-color: #219e2c;
    margin: 0 auto 0 auto;
    position: relative;
    background-image: url("../images/grass.jpg");
    background-size: auto auto;
}

#main_content_portfolio {
    width: 910px;
    height: 640px;
    padding: 40px;
    margin: 200px auto 20px auto;
    border-style: solid;
    border-width: 1px;
    font-family: 'Inconsolata', monospace;
    background-color: white;
    border-color: #cccccc;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.placeholder {
    margin: 0px 0px 30px 0px;
    text-align: center;
}

.clearfloat {
    clear: both;
    overflow: auto;
}

h2 {
    font-size: 28px;
    color: rgb(5, 60, 148);
}

.project_container {
    margin:20px;
    float:left;
    position: relative;
    width: 230px;
    height: 230px;
}

.portfolio_img {
    width: 230px;
    height: 230px;
}

.banner_name {
    position: absolute;
    bottom: 90px;
    left: 0px; 
}

.banner_app {
    position: absolute;
    bottom: 65px;
    left: 0px; 
}

.banner_code {
    position: absolute;
    bottom: 40px;
    left:0px;
}

span {   
    width: 230px;
    height: 25px;
    font-size: 16px;
    padding: 4.5px;
    z-index: 1;
    background-color:  rgb(5, 60, 148);
    color: white;
    text-align: center;
    opacity: 0.9;
}


@media screen and (max-width:980px) {
    #about_body, 
    #portfolio_body,
    #contact_body{
        max-width: 980px;
        height: auto;
    }

    header {
        width:100%;
    }

    h1 {
        width:200px;
    }

    .navigation {
        width: 72%;
    } 

    a:link {
        margin:5px;
    }

    hr {
        width:650px;
    }

    #portrait {
        width:234px;
        height: 229px;
        float:left;
    }

    #about_me {
        line-height: 1.3;
        font-size: 22px;
        margin:0 10px 10px 5px; 
    }

    #main_content_about {
        width:700px;
        height: 530px;
        margin: 100px auto 20px auto;
    }

    #main_content_contact {
        width:700px;
        height: 530px;
        margin: 100px auto 20px auto;
    }

    #name,
    #email,
    #message {
        width: 610px;
    }

    #main_content_portfolio {
        width:700px;
        height: 530px;
        margin: 100px auto 20px auto;
    }

    .project_container {
        width: 180px;
        height: 180px;
        margin: 10px 10px 20px 8px;
    }
    
    .portfolio_img {
        width: 180px;
        height: 180px;
    }

    .banner_name{
        width: 180px;
        bottom: 70px;
        left: 0px; 
    }

    .banner_app {
        width: 180px;
        bottom: 45px;
        left: 0px;
    }

    .banner_code {
        width: 180px;
        bottom: 20px;
        left: 0px;
    }

    span {
        width:240px;
        height: 25px;
    }
}

@media screen and (max-width:768px) {
    #about_body, 
    #portfolio_body,
    #contact_body{
        max-width: 768px;
        height: auto;
    }

    header {
        width:100%;
        height:65px;
    }

    h1 {
        width:100%;
        line-height: 1;
        height: 35px;
        padding: 5px;
    }

    .navigation {
        width: 100%;
        height: 30px;
        padding: 5px;
    }

    #main_content_about {
        width:600px;
        height: 500px;
        margin: 60px auto 0 auto;
        padding: 30px;
    }

    hr {
        width:530px;
    }
    
    #about_me {
        font-size: 20px; 
        line-height: 1.2;   
    }

    #main_content_contact {
        width: 600px;
        height: 500px;
        margin: 60px auto 0px auto;
        padding: 30px;
    }

    #input {
        width: 600px;
    }

    #name,
    #email,
    #message {
        width: 530px;
    }

    #main_content_portfolio {
        width: 600px;
        height: 500px;
        margin: 60px auto 0 auto;
        padding: 30px;
    }

    .project_container {
        width: 150px;
        height: 150px;
        margin: 20px 15px 10px 7px;
    }

    .portfolio_img {
        width: 150px;
        height: 150px;
    }
    
    .banner_name,
    .banner_app,
    .banner_code {
        width: 150px;
    }
} 
    

@media screen and (max-width:640px) {
    #about_body, 
    #portfolio_body,
    #contact_body{
        max-width: 640px;
        height: auto;
    }

    header {
        width:100%;
    }

    .header_content {
        width: 100%;
    }

    h1 {
        font-size: 20px;
        height: 30px;
    }

    .navigation {
        font-size: 14px;
    }

    h2 {
        font-size: 26px;
    }
    
    .main {
        width:550px;
        height:1700px;
        margin: 0 auto 0 auto;
    }

    #main_content_about {
        width:450px;
        height:780px;
        padding: 20px 20px 20px 20px;
    }

    hr {
        width:400px;
    }
   
    #portrait {
        margin:0 0 10px 0;
        width:351px;
        height: 343.5px;
    }

    #about_me {
        margin: 0 auto 10px auto;
        width:351px;
        width: 351px;
    }

    #main_content_contact {
        width:450px;
        height:500px;
        position: relative;
    }

    #name,
    #email,
    #message {
        width: 390px;
        margin-bottom: 5px;
    }

    .submit {
        position: absolute;
        bottom: 20px;
        left: 30px;
    }

    #main_content_portfolio {
        width:450px;
        height: 2400px;
    }
    .project_container {
        width: 350px;
        height: 350px;
        margin: 15px 20px 15px 20px;
    }

    .portfolio_img {
        width: 350px;
        height: 350px;
    }
    
    .banner_name,
    .banner_app,
    .banner_code {
        width: 350px;
    }
  
    span {
        width:350px;
        height: 25px;
    }
}